<% provide(:title, "Home") %>

<div class="container center hero-unit">
	<% if signed_in? %>
		<div class="row">
			<div class="span6">
				<p>Welcome, <%= @user.name.capitalize %>!</p>
				<%= image_tag @user.avatar_url(:thumb) if @user.avatar_url %>
			</div>
			<div class="span6">
				<p>You currently have <%= pluralize(@fridge.foods.count, "item") %> in your fridge:</p>
				<ul class="home">
				<% @fridge.foods.each do |food| %>
					<li><%= food.name %></li>
				<% end %>
				</ul>
			</div>
		</div>
		<div class="container">
			<p>Go to <%= link_to "my profile", current_user %>.</p>
		</div>
	<% else %>
		<div class="container bottom">
		    <h1 class="center">Welcome to CleanFridge</h1>
		    <h3><%= link_to "Sign in", signin_path %> to view your fridge.</h3><br>
		    or<br><br>
			<div><%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %></div><br>
		</div>
	<% end %>

</div>

