<% provide(:title, "CleanFridge") %>
<h1>CleanFridge</h1>

<% if signed_in? %>

	Welcome, <%= current_user.name %>!



	You currently have <%= pluralize(@fridge.foods.count, "item") %> in your fridge:
	<ul>
	<% @fridge.foods.each do |food| %>
		<li><%= food.name %></li>
	<% end %>
	</ul>
	
	Go to <%= link_to "my profile", current_user %>.

<% else %>
	<%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
<% end %>

