<% provide(:title, "Sign in") %>

<div class="container-fluid">
	<h1>Sign in</h1>
	<div class="row">
		<div class="span4 offset2 center">
			<%= form_for(:session, url: sessions_path)  do |form| %>

				<%= form.label :username, "Username:" %>
				<%= form.text_field :username, autofocus: true %>
	
				<%= form.label :password, "Password: " %>
				<%= form.password_field :password %>
				<div class="center">
					<%= form.submit "Sign in", class: "btn btn-large btn-primary" %>
				</div>
			<% end %>		
            <div class="bottom">
                New to CleanFridge? <%= link_to "Sign up now!", signup_path %>
            </div>
        </div>
		<div class="span6 offset1">
			<h2>CleanFridge is awesome.</h2>
		</div>
	</div>
</div>