<% provide(:title, "My Profile") %>

<div class="row">
	<div class="span6">
		<p>CLEAN YOUR FRIDGE</p>
		<%= image_tag("user_placeholder.jpg", width: 100, height: 100) %>
		<p><%= @user.name %></p>
		<p>CleanFridge user for <%= distance_of_time_in_words(@user.created_at, DateTime.now) %>.</p>
		<p>You've cleaned a total of <%= @user.delete_count %> items from your fridge.</p>
	</div>
	<div class="span6">
		<p>
			<% if @user.foods.any? %>
				You currently have <%= pluralize(@foods.count, "item") %> in your fridge:
				<table class="table-bordered">
						<thead>
							<tr>
								<th>gone?</th><th>name</th><th>date added</th><th>search recipes</th>
							</tr>
						</thead>
						<tbody>
							<div id="foods">
								<%= render @foods %>
							</div>
						</tbody>
				</table>
			<% else %>
				Your fridge is empty.
			<% end %>
		</p>
		<div id="add_food_form">
			<%= render 'shared/food_form' %>
		</div>
	</div>
</div>