<%= form_for @food do |form| %>

	<%= form.label :name %>
	<%= form.text_field :name %>

	<%= form.submit "Add item", class: "btn btn-large btn-primary" %>

<% end %>


<% @foods.each do |food| %>
	<li><%= food.name %> <%= link_to "gone?", food, method: :delete, confirm: "Delete #{food.name}?" %></li>
<% end %>


<td><%= link_to "gone?", food, method: :delete, confirm: "Delete #{food.name}?", class: "btn btn-mini" %></td>
